:root {
  --primary-color : yellow;
  --secondary-color : darkcyan;
  --light-color : whitesmoke ;
  --dark-color : black;
  --soft-color : lightGray ;
}

body {
  padding-top: 20%;
  height:100vh ;
  width: 100vw;
}

button {
  width: 4em;
  margin: 5px;
}

#run-controls i {
  color : white;
  margin: 0;
  padding: 0;
}

.container {
  color: var(--dark-color, black);
}

/* Header */

.start-grid {
  display: grid;
  grid-template-columns : 50% 50%;
  grid-gap: 10px;
}

   .logo-div {
    justify-self: end;
    margin-right: 2em;
    height: 50px;
    width: 50px;
  /* border-radius: 50%;
   background-size: 50px;
    background-image: url("logo1.png");
    border: 1px solid var(--light-color, white);*/
  }
  
  /* Timer Display */

  #timer {
    color: var(--dark-color, black);
    min-width: 250px;
    max-width: 1050px;
  }
    
  #display {
    max-width: 140px;
    text-align: center;
    border: 1px ridge var(--soft-color, lightgray);
    border-radius : 5%;
  }
  
  #timer-header {
    min-height:25px;
    background-color : grey; 
    border-radius :  6% 6% 0 0;
    display: grid;
    grid-template-columns: 65% 25%;
    grid-gap: 15%;
    align-items: center
  }
  
  #timer-label {
    color: var(--light-color, white);
    font-weight: bold;
    justify-self: end;
    display : flex;
    align-content: center ;
    justify-content: center ;
    
  }
      #signal {
      width: 1em;
      height : 1em;
      border-radius: 50%;
       align-self : center;
        
    }
    
    .lighten {
      background-color: red;
    }
    
    #time-left {
      font-family: 'Calculator', sans-serif;
      max-height: 50px;
      padding: 7px;
      margin-bottom: 5px;
      font-size: 2.25em;
      letter-spacing: 2px;
      background-color: var(--light-color, whitesmoke);
      display : flex;
      align-items: center;
      justify-content: center;
    }
    
   #display footer {
      color: var(--dark-color, black);
      opacity: 50%;
      font-size: 0.5em;
     margin : auto auto 3px ;
    }
    

  #controls {
     max-width: 250px;
     width : 50%;
    position: absolute ;
    bottom: 10%;
    right: 10%;
    background-color: var(--light-color, white);
    padding: 5%;
    display: grid ;
    grid-template-columns : 80% 20%;
    grid-gap: 2px;
  }
#controls * {
  text-align: center ;
}

#controls h6 {
  color: var(--secondary-color, dark);
  font-weight: bolder;
}

  #number-controls {
    display: grid;
    grid-template-columns : 50% 50% ;
  }
  
  #number-controls h6 {
    font-size: 0.8em;
  }
  
  #run-controls {
    align-self: end;
    justify-item: end;
  }
  
  @media (min-width : 580px) {
    body {
      padding-top: 7%;
    }
    
    #timer {
      display : grid;
      grid-template-columns: 50% 50%;
    }
    #controls {
      bottom: 10%;
    }
  }