body {
  margin : 0;
  padding-inline: 5px;
}

header {
padding-top: 5%;
  position: fixed;
  top : 0;
  background-color: white;
  z-index : 1;
}

#view-control {
  position: fixed;
  right : 10%;
  display: inline;
}

main {
  margin-top : 7%;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

textarea {
  margin: 5px;
}

#preview-div {
  box-shadow: 1px 1px 1px #999;
  min-height : 250px;
  margin: 10% 5px 1rem;
}

.card-header {
  text-align : center;
}

.card-body {
  margin: 5px;
}

#editor-div {
  display: block;
  margin: 10% 5px 1rem;
  box-shadow: 1px 1px 1px #999;
}

@media (max-width : 500px) {
  main {
    display : unset;
  }
  
#preview-div {
display: none;
width: auto;
}

#editor-div {
  display: block;
}
}